@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --primary: #1a90ec;
  --primary-light: #eff6ff;
  --accent: #f59e0b;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --primary: #2c5282;  /* Slightly lighter for dark mode */
  --primary-light: #1e293b; /* darker for dark mode */
  --accent: #f6ad55;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --accent: var(--accent);
  --font-sans: var(--font-sans), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
